/* -------------------------------------------------------------
  FILE:   _TYPOGRAPHY.SCSS
  AUTHOR: Zaine Kingi
  VER:    1.0.0
  DESC:   Main SASS partial for the styling of all typographic
          elements for the Responsive Layout project.
------------------------------------------------------------- */

body {
  font-family: $open-sans;
  color: $text-color;
}
p {
  @include type($fSize-p,1.7rem,lighter,$text-color);
}
h2 {
  margin-bottom: 35px;
  @include type($fSize-h2,normal,lighter,#{$heading-color},uppercase);
  @include tablet {
    text-align: center;
    flex-basis: 100%;
  }
}
h3 {
  margin-bottom: 0px;
  @include type($fSize-h3,1.2rem,lighter,#{$heading-color},capitalize);
}
.name {
  @include tablet {
    text-align: center;
    flex-grow: 2;
  }

  @include desktop {
    text-align: left;
  }
}
.mainNav {
  li {
    @include type($fSize-nav-li,1rem,bold,#{$heading-color},uppercase);
    @include desktop {
      @include type($fSize-nav-li-tab,2.5rem);
    }
  }
}
.intro-wrapper {
  p {
    @include tablet {
      @include type($fSize-intro-p-tab,2.5rem);
      text-align: left;
    }
  }
}
.portfolio {
  p {
    color: $heading-color;
  }
}
.contact {
  p {
    @include desktop {
      @include type($fSize-contact-p-desk, 2.4rem);

    }
  }
}
.footer-nav {
  @include tablet {
    @include type($fSize-footerNav-tab,3rem,normal,#{$heading-color},uppercase);
  }
}
footer {
  p {
    color: $heading-color;

    a {
      color: $heading-color;
    }
  }
}
